.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.grid-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item div {
    max-width: 100%;
    overflow-x: auto;
}

.grid-item img {
    width: 45%;
    height: auto;
    max-height: 120px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
}


.status-verificado {
    background-color: #28a745;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}


.status-nao-verificado {
    background-color: #dc3545;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}